<ul>
<OCArticleCategories>
<li><a href="#"><OVCategoryName htmlentities="1"></a>
<ul>
<OFRecurse parentid="<OVCategoryId>">
<OCArticleTopics categoryid="<OVCategoryId>">
<li><a href="#" title="<OVTopicId>"><OVTopicName htmlentities="1"></a></li>
</OCArticleTopics>
</ul>
</li>
</OCArticleCategories>
</ul>