<OCArticleCategories>
<OCIfNotEqual  expr1="<OVCategoryParentId>" expr2="0">
<li><a href="#" title="<OVCategoryId>"><OVCategoryName htmlentities="1"></a>
</OCIfNotEqual>
<ul>
<OFRecurse parentid="<OVCategoryId>">
</ul>
<OCIfNotEqual expr1="<OVCategoryParentId>" expr2="0">
</li>
</OCIfNotEqual>
</OCArticleCategories>